@import url('fonts.css');

.content { background-color: #F2F4F5; }

.main-menu {
  background-color: #3D454D;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
body {
  font-family: BNazanin;
}
/* buttons */
.main-menu .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}

.main-menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #aaaaaa;
  color: white;
}
.main-menu .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: #089e00;
  -webkit-transition: background-color 200ms ease-out 0s;
  -moz-transition: background-color 200ms ease-out 0s;
  -o-transition: background-color 200ms ease-out 0s;
  transition: background-color 200ms ease-out 0s;
}

.main-menu .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #008232;
  color: white;
}
/* dropdown-menu */
.main-menu .navbar-nav > li > .dropdown-menu {
  background-color: #3D454D;
  border-color: #292E33;
}
.main-menu .navbar-nav > li > .dropdown-menu > li > a {color: white;}
.main-menu .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #008232;
}

.greenItem{background-color: #008232;color:white;}
.greenText{color: #089E00;}
.pageHeader{color: #008232;}

.parallex {
  /*height: 600px;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.whyus {
  background-image: url('../img/bg/sales-team.jpg');
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 7px solid #089E00;
}
.whyus h1 { font-size: 80px; font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; line-height: 150px; }
.whyus p { font-size: 25px; }

/***************************** FOOTER ******************************/
footer {
  border-top: 7px solid #089E00;
  padding: 20px 0 0 0;
  background-color: #3D454D;
}
footer .copyright {
  background: #252B30;
  color: #BABABA;
  margin-top: 10px;
  padding: 12px 0 12px 0;
}
footer h4 {
  font-size: 22px;
  margin-bottom: 23px;
  padding-bottom: 7px;
  border-bottom: 2px solid #089E00;
}
footer h5, footer a {color: #E0E0E0; font-size: 18px; margin-bottom: 3px; display: block;}
footer a {
  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -o-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
}
footer a .glyphicon {
  font-size: 10px;
  margin: 0 0 0 5px;
  -webkit-transition: all 250ms ease-out 0s;
  -moz-transition: all 250ms ease-out 0s;
  -o-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
}
footer a:hover { color:#FFFFFF; padding-right: 3px; text-decoration: none;}
footer a:hover .glyphicon{
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #089E00;
}
footer h5 .glyphicon {
  color: #089E00;
  margin-left: 5px;
  font-size: 18px;
}

/***************************** MEDIAS *******************************/
@media screen and (max-width: 970px) {
    .logoPic{
      text-align: center;
    }
    .searchToolbar{
      margin-top:40px;
      margin-bottom: 5px;
    }
    .navbar-brand{
      display: none;
    }
}
@media screen and (max-width: 750px) {
  .searchToolbar{
    margin-top:10px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 970px) {
  .searchToolbar{
    margin-top:40px;
  }
}
